@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
   --main-color: #0A3250;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.contain{
   position: relative;
   width: 70%;
   height: 800px;
   background-color: white;
   border: 3px solid #98989861;
   border-radius: 12px;
   margin: 100px auto;
   box-shadow: 5.0px 10.1px 10.1px hsl(0deg 0% 0% / 0.34);
   font-family: 'Ubuntu', sans-serif;

}

.imgone{
   width: 200px;
   margin: 30px 22px 9px 134px;
}
.imgtwo{
   width: 159px;
   height: 100px;
   margin: 0px 0px 86px 247px;
}

h1{
   position: absolute;
   display: inline;
   margin: -36px 0px 0px 415px;
}

.leftbar{
   position: absolute;
   width: 204px;
   height: 504px;
   left: 44px;
   top: 251px;
   background-color: rgb(229 228 228 / 52%);
   border: 1px solid #c9c9c9;
   border-radius: 10px;
   padding: 20px;
}
.leftbar:hover{
   box-shadow: 0px 3px 9.1px rgb(105 129 138 / 47%);
   transition:box-shadow .3s ease-in .1s ;
}
a{
   text-decoration: none;
   display: block;
   margin: 16px 0px 57px 26px;
   font-size: 34px;
   font-weight: 50;
   color: rgb(17 117 147);
   box-shadow: inset 0 0 0 0 var(--main-color);
   transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
   cursor: pointer;
}
#one{
   color: #0A3250;
   font-weight: 900;
   text-decoration: underline;
}
.form{
   margin:4px 0px 0px 336px;
}
.oneoneone{
   display: flex;
   justify-content: start;
   align-content: flex-start;
   flex-wrap: wrap;
}
.oneone{
   display: flex;
   justify-content: start;
   align-content: flex-start;
   flex-wrap: wrap;
}
input{
   width: 314px;
   height: 56px;
   padding: 12px;
}
#two{
   margin-right: 44px;
   margin-top: 37px;
}
#three{
   margin-right: 44px;
   margin-top: 37px;
}
input[type=submit]{
   margin: 55px 0px 0px 150px;
}
.leftbar a:hover:not(#one){
   color: white;
   box-shadow: inset 200px 0 0 0 var(--main-color);
}

#formformtwo {
   margin: -445px 0px 0px 336px;
   visibility:hidden;
}
